.env
__pycache__
*.sqlite3
.DS_Store
mysite/prod
blog/static/admin/
media/
blog/static/coverage/
blog/static/node_modules/
blog/static/django_ckeditor_5/
CACHE/
*.d.ts
*.d.ts.map
*.js.map
blog/static/js/*.js
