{% if post.featured_image %}
    <a href="{{ post.get_absolute_url }}">
        <picture>
            <img src="{{ post.featured_image.url }}" alt="featured image for blog post" class="blog-card-image">
        </picture>
    </a>
{% endif %}
<div class="blog-card-content">
    <h2 class="blog-card-title">{{post.title}}</h2>
    <!-- <p class="blog-card-excerpt"> -->
        <small class ="date">
            Published {{post.publish}} by {{post.author}}
            <br>
            <!-- {{post.comments.count}} comment{{post.comments.count|pluralize}} -->
        </small>
        <span>{{ post.body|striptags|truncatewords:30|linebreaks }}</span>
    <!-- </p> -->
    <a href="{{ post.get_absolute_url }}" class="blog-card-link">Read More</a>
    {% for tag in post.tags.all %}
        <a class="tag" href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{tag.name}}
        </a>{% if not forloop.last %},{% endif %}
        <!-- <p class="tags">Tags: {{ post.tags.all|join:", " }}</p> -->
    {% endfor %}
</div>