{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css">  -->
        <!-- <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css"> -->
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" href="{% static 'css/transition.css' %}">
        <link rel="stylesheet" href="{% static 'css/splash.css' %}">
        <link rel="icon" type=”image/x-icon” href="{% static 'images/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- style overrides; get rid of underlining on links unless onHover-->
        <style>
            #content a, 
            #sidebar a {
                text-decoration: none;
            }
    
            #content a:hover, 
            #sidebar a:hover {
                text-decoration: underline;
            }
        </style>
    </head>

    <body>
        <div id="splash">
            😀
            <h1>Its A Pleasure to See You!</h1>
            <p>
                Please, enjoy an article <small>(or two, or three).</small>
            </p>
        </div>
        
        <div class="transition-overlay"></div>
        <header>
            <nav>
                <a href="{% url 'blog:post_list' %}">Home</a>
                <a href="https://github.com/eniolakunle/DjangoBlog">GitHub</a>
            </nav>
            <hgroup>
                <h1>The Secret Place</h1>
                <p>
                    Daily Insights of The Word! 
                    <br>
                    <sub>(With the Help of ChatGPT)</sub>
                </p>
            </hgroup>
        </header>

        <div class="top-nav mobile-nav">
            <div class="nav-title">The Secret Place</div>
        </div>
        <div class="mobile-nav">
            <button class="menu-button" id="menu-button">☰</button>
                <div class="menu" id="menu">
                    <a href="{% url 'blog:post_list' %}">Home</a>
                    <a href="https://github.com/eniolakunle/DjangoBlog">GitHub</a>
                </div>
        </div>
        
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer id="sidebar">
            <h6>
                <div id="dailyVersesWrapper"></div>
            </h6>
            <img src="{% static 'images/jeezus.jpg' %}" alt="The Christ" id="jesusimg">
        </footer>
        <script async defer src="https://dailyverses.net/get/random.js?language=esv"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/splash.js' %}"></script>
    </body>
</html>