{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css">  -->
        <!-- <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css"> -->
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <header>
            <nav>
                <a href="{% url 'blog:post_list' %}">Home</a>
                <a href="https://github.com/eniolakunle/DjangoBlog">GitHub</a>
            </nav>
            <hgroup>
                <h1>The Secret Place</h1>
                <p>
                    Daily Insights of The Word! 
                    <br>
                    <sub>(With the Help of ChatGPT)</sub>
                </p>
            </hgroup>
        </header>
        
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer id="sidebar">
            {% include "blog/includes/subscribe_form.html" %}
            <h6>
                <div id="dailyVersesWrapper"></div>
            </h6>
            <img src="{% static 'images/jeezus.jpg' %}" alt="The Christ" id="jesusimg">
        </footer>
        <script async defer src="https://dailyverses.net/get/random.js?language=esv"></script>
    </body>
</html>