<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>🔒Password Required🔒</title>
  <style>
    html, body {
      height: 100%;
    }
    body, header, main{
      display: flex;
      align-items: center;
    }
    body, main{
      justify-content: center;
    }
    header, main {
      flex-direction: column;
      text-align: center;
    }
    main{
      height: 75%;
    }
    header {
      margin-top: -25%;
    }
  </style>
</head>
<body>
  <main>
    <header>
      <h1>The Secret Place is EXCLUSIVELY For Followers!</h1>
      <h3>DM on TikTok or IG for access.</h3>
    </header>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <label for="password">Enter Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Submit</button>
  </form>
</main>
</body>
</html>
