{% extends "blog/base.html" %}

{% load replace_nbsp %}
{% block meta %}
    <meta name="twitter:card" content="summary"></meta>
    <meta property="og:description" content="{{ post.body|striptags|truncatewords:30|replace_nbsp }}" />
    <meta property="og:title" content="{{ post.title }}" />
    {% if post.featured_image %}
        <meta property="og:image" 
        content="{{ request.scheme }}://{{ request.get_host }}{{ post.featured_image.url }}" />
    {% endif %}
{% endblock %}

{% block script %} 
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "BlogPosting",
            "@id": "{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}",
            "mainEntityOfPage": "{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}",
            "headline": "{{post.title}}",
            "name": "{{post.title}}",
            "description": "{{ post.body|striptags|truncatewords:30|replace_nbsp }}",
            "datePublished": "{{post.publish}}",
            "dateModified": "{{post.updated}}",
            "author": {
                "@type": "Person",
                "@id": "https://oluwakunleeniola.com",
                "name": "Kunle Eniola",
                "url": "https://oluwakunleeniola.com"
            },
            "publisher": {
                "@type": "Organization",
                "@id": "https://oluwakunleeniola.com/blog",
                "name": "The Secret Place"
            },
            "image": {
                "@type": "ImageObject",
                "@id": "{{ request.scheme }}://{{ request.get_host }}{{ post.featured_image.url }}",
                "url": "{{ request.scheme }}://{{ request.get_host }}{{ post.featured_image.url }}",
                "height": "360",
                "width": "480"
            },
            "url": "{{ request.scheme }}://{{ request.get_host }}{{ post.get_absolute_url }}",
            "isPartOf": {
                "@type" : "Blog",
                "@id": "https://oluwakunleeniola.com/blog",
                "name": "The Secret Place",
                "publisher": {
                    "@type": "Organization",
                    "@id": "https://oluwakunleeniola.com/blog",
                    "name": "The Secret Place"
                }
            }
        }
    </script>
{% endblock %}
{% block title %} {{post.title}} {% endblock %}

{% block style %} 
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}

    <h1>
        {{post.title}}
    </h1>
    <small class="date">
        Published {{post.publish}} by {{post.author}}
    </small>
    <br>
    <small class="date">
        Updated on {{post.updated}}
    </small>

    {% if post.featured_image %}
    <br>
    <br>
    <picture>
        <img src="{{ post.featured_image.url }}" alt="featured image for post">
    </picture>
    {% endif %}

    <hr>
    {{ post.body|safe|linebreaks }}
    {% if post.tags.all %} <hr><br> <strong>Tags:</strong> {% endif %}
    {% for tag in post.tags.all %}
       <a class="tag" href="{% url 'blog:post_list_by_tag' tag.slug %}">
           {{tag.name}}
       </a>
   {% endfor %}
    <!-- <p>
        <button id="twitter-share-button">Share on X</button>
        <a href="{% url 'blog:post_share' post.id %}">
            <button>Share with Email</button>
        </a>
    </p> -->

    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} Comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <blockquote class="comment">
            <small class="info">
                Comment {{ forloop.counter }} by {{comment.name}}
                {{comment.created}}
            </small>
            <br>
            {{ comment.body }}
        </blockquote>
    {% empty %}
        {% if not post.comments_closed %}
            <p>👇What do you think? Leave a comment below!👇 </p>
        {% endif %}
    {% endfor %}

    {% if post.comments_closed %}
        <h3>⌛️ Comments Closed!</h3>
    {% else %}
        {% include "blog/post/includes/comment_form.html" %}
    {% endif %}

    {% if similar_posts %}
        {% include "blog/post/includes/similar_posts.html" %}
    {% endif %}
{% endblock %}
