{% extends "blog/base.html" %}


{% block title %}The Secret Place{% endblock %}

{% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <div id="item-container grid-container">
        <div class="top-grid">
            {% for post in posts|slice:":1" %}
                <div class="item blog-card main-article" onclick="">
                    {% include "blog/post/includes/list_detail.html" with post=post %}
                </div>
            {% endfor %}
        </div>

        <div class="bottom-grid" id="bottom-grid">
            {% for post in posts|slice:"1:" %}
                <div class="item blog-card" onclick="">
                    {% include "blog/post/includes/list_detail.html" with post=post %}
                </div>
            {% endfor %}
        </div>

    </div>
{% include "blog/post/pagination.html" with page=page_obj %}
<div id="sentinel"></div>
{% endblock %}