{% extends "blog/base.html" %}


{% block title %}The Secret Place{% endblock %}
{% block meta %}
<meta name="description" content="Get intimate with the Word of God and come visit The Secret Place! A blog dedicated to the daily exploration of the mysteries behind God's Word."> 
{% endblock %}

{% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    <div id="item-container grid-container">
        <div class="top-grid">
            {% for post in posts|slice:":1" %}
                <div class="item blog-card main-article" onclick="">
                    {% include "blog/post/includes/list_detail.html" with post=post %}
                </div>
            {% endfor %}
        </div>

        <div class="bottom-grid" id="bottom-grid">
            {% for post in posts|slice:"1:" %}
                <div class="item blog-card" onclick="">
                    {% include "blog/post/includes/list_detail.html" with post=post %}
                </div>
            {% endfor %}
        </div>

    </div>
{% include "blog/post/pagination.html" with page=page_obj %}
<div id="sentinel"></div>
{% endblock %}