{% extends "blog/base.html" %}


{% block title %}The Secret Place{% endblock %}

{% block content %}
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
    {% for post in posts %}
    <div class="blog-card floating-card" onclick="">
        {% if post.featured_image %}
        <!-- <br>
        <br> -->
        <a href="{{ post.get_absolute_url }}">
            <picture>
                <img src="{{ post.featured_image.url }}" alt="" class="blog-card-image">
            </picture>
        </a>
        {% endif %}
        <div class="blog-card-content">
          <h2 class="blog-card-title">{{post.title}}</h2>
          <!-- <p class="blog-card-excerpt"> -->
            <small class ="date">
                Published {{post.publish}} by {{post.author}}
                <br>
                <!-- {{post.comments.count}} comment{{post.comments.count|pluralize}} -->
            </small>
            <span>{{ post.body|truncatewords:30|linebreaks }}</span>
          <!-- </p> -->
          <a href="{{ post.get_absolute_url }}" class="blog-card-link">Read More</a>
        </div>
      </div>
{% endfor %}
{% include "blog/post/pagination.html" with page=page_obj %}
{% endblock %}