header {
    background-image: url('../images/IMG_0229 2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


@media (prefers-color-scheme: light) {
    header {
        background-image: url('../images/IMG_0229 2 light.jpg');
    }
  }

  /*ensures iPhone headers are not zoomed in*/
@supports (-webkit-touch-callout: none) {
    header {
        background-attachment: scroll;
    }
}

fieldset {
    width: fit-content;
}