
.blog-card {
    background-color: #fff;
    border: 1px solid #ddd;      /* Subtle border for a clean separation */
    border-radius: 4px;          /* Slight rounding for a modern look */
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 1rem auto;       /* Center horizontally and provide vertical spacing */
}

.intersecting-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /*Soft background on intersection*/
    animation: floating 2s ease-in-out infinite; /* Apply Floating Animation on intersection */
}

.blog-card-image {
    width: 100%;
    display: block;
}

.blog-card-content {
    padding: 1rem;
}

.blog-card-title {
    margin: 0 0 0.5rem;
}

.blog-card-link {
    font-weight: 500;
}

@media (prefers-color-scheme: dark) {
    .blog-card {
        background-color: #1a1a1a;   /* Deeper dark background */
        border: 1px solid #333;      /* Stronger border for more definition */
    }
    
    .blog-card-title {
        color: #fff;
    }
    
    .intersecting-card {
        /* Increased shadow for a more pronounced hover effect in dark mode */
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
    }
}

@media (pointer: fine) {
    .blog-card:hover {
        animation: floating 2s ease-in-out infinite;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
    @media (prefers-color-scheme: dark) {
        .blog-card:hover {
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
        }
    }
    .intersecting-card {
        animation: none;
        box-shadow: none;
    }
}

/* Floating Animation */
@keyframes floating {
0% { transform: translateY(0); }
50% { transform: translateY(-8px); } /* Move up */
100% { transform: translateY(0); }  /* Move back down */
}

@media (min-width: 769px) {
    body {
        grid-template-columns: 1fr min(70rem, 90%) 1fr;
    }

    .top-grid {
        display: grid;
        grid-template-columns: 1fr;
      }
      
      /* Bottom Section: Rows of two articles */
    .bottom-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: start;
        grid-auto-flow: dense;
       }

}